<section class="fav-list container my-3">
  <div class="row">
    <% movies.forEach(movie => { %>
    <div class="col-2">
      <%-include('components/list-card', {item : movie, hover:true, hideContent:
      true, isShow : false, isFavorite : true}) %>
    </div>
    <% }) %>
  </div>
</section>
