.resume {
  &_left {
    width: 35%;
    background: #26252d;
  }
  &_image {
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
  &_bottom {
    padding: 20px 30px;
  }
  &_item {
    border-bottom: 1px solid $blue;
    padding-bottom: 20px;
    .item {
      &_title {
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 4px;
      }
      &_info {
        color: $gray;
      }
    }
  }
}
