.resume {
  &_right {
    padding: 20px 40px;
    width: 75%;
  }
  &_namerole {
    color: black;
    text-transform: uppercase;

    .name {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 5px;
      letter-spacing: 4px;
    }
    .role {
      font-size: 14px;
    }
  }
}
