.hero {
  &__image {
    position: relative;
    background-image: url("../../images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url("../../images/image-mockups.png");
    }
  }
  &__text {
  }
}
