.card-search {
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  .card-thumb {
    flex: 0 0 100px;
  }
  .card-body {
    flex: 0 1 auto;
  }
  .card-title {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  .card-text.date {
    margin: 0;
  }
  .card-text.overview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}
