body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > * {
    flex: 0 0 auto;
  }
}
footer {
  margin-top: auto;
}
.v-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}
.h-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  flex-direction: row;
}

.section-padding-top {
  padding-top: 20px;
}

.scroller {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  > *:not(:first-child) {
    margin-left: 20px;
  }
}

.movie-card {
  flex: 1 0 150px;
  position: relative;
  .fav-icon {
    position: absolute;
    right: 2px;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
  &-hover {
    &:hover {
      transition: all 200ms ease-in-out;
      @extend .shadow-lg;
    }
  }
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.has-bg-img {
  position: relative;
  .bg-img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .bg-overlay {
    background-image: linear-gradient(
      to right,
      rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),
      rgba(31.5, 31.5, 31.5, 0.84) 50%,
      rgba(31.5, 31.5, 31.5, 0.84) 100%
    );
  }
}

.flash-msgs {
  position: fixed;
  display: hidden;
  top: 10px;
  right: 10px;
  width: 400px;
}
// hide form-control outline
.form-control:focus {
  box-shadow: none !important;
}
